## Create an image gallery
## Inputs:
## imlist : cell array of image file names
## caption : cell array of captions
## opt : Java hashmap of optional settings:
##     .ncol : integer, number of columns per row
##     .width : width of image, default is 230
##     .height : height of image, default is 225
##     .title : String, page title, default is None
##     .thumbdir : String, location of thumbnails. Default is None
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

#if ($opt.title)
<title>$opt.title</title>
#end
#if (!$opt.width)
  #set ($opt.width = 230 )
#end
#if (!$opt.height)
  #set ($opt.height = 225 )
#end

<style type="text/css">
.grid { display: table; border-spacing: 4px; }
.row { display: table-row; }
img { width: ${opt.width}px; height: ${opt.height}px;}
.cell { display: table-cell; background-color: white; border: 1px solid #000; vertical-align: top; text-align: center;}
.desc { color: red; font-size: 85%; font-weight: bold; text-align:
center;  padding-top: 8px;}
</style>

</head>
<body>
#parse("image_grid.vm")
</body>
</html>
