## Create an image gallery
## Inputs:
## imlist : cell array of image file names
## caption : cell array of captions
## opt : Java hashmap of optional settings:
##     .ncol : integer, number of columns per row
##     .width : width of image, default is 230
##     .height : height of image, default is 225
##     .title : String, page title, default is None
##     .thumbdir : String, location of thumbnails. Default is None
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#if ($opt.title)
<title>$opt.title</title>
#end
#if (!$opt.width)
  #set ($opt.width = 230 )
#end
#if (!$opt.height)
  #set ($opt.height = 225 )
#end
<link rel="stylesheet" type="text/css" href="https://analysis.clue.io/assets/js/fancybox/1.3.4/jquery.fancybox.css" media="screen" />
<style type="text/css">
.grid { display: table; border-spacing: 4px; }
.row { display: table-row; }
img { width: ${opt.width}px; height: ${opt.height}px;}
.cell { display: table-cell; background-color: white; border: 1px solid #000; vertical-align: top; text-align: center;}
.desc { color: red; font-size: 85%; font-weight: bold; text-align:
center;  padding-top: 8px;}
.summary { color: #1f77b4; font-size: 100%; font-weight: bold; text-align:
center;  padding-top: 8px;}
.lazy { display: none; }
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="https://analysis.clue.io/assets/js/fancybox/1.3.4/jquery.fancybox.min.js"></script>
<script  type="text/javascript" src="https://analysis.clue.io/assets/js/lazyload/1.8.4/jquery.lazyload.min.js"></script>
<script  type="text/javascript" src="https://analysis.clue.io/assets/js/lazyload/1.8.4/jquery.scrollstop.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$("img.lazy").show().lazyload({
event : "scrollstop",
});
$("a[rel=gallery]").fancybox({
'transitionIn'	: 'none',
'transitionOut'	: 'none',
'titlePosition' : 'outside',
'overlayColor' : 'black',
'overlayOpacity' : 0.8,
'titleFormat'	: function(title, currentArray, currentIndex, currentOpts) {
return "<span id=fancybox-title-outside>Image " + (currentIndex + 1) + "/" + currentArray.length + (title.length ? " &nbsp; " + title : "") + "</span>";
}
});
});
</script>
</head>
<body>
<div class="summary">$!opt.summary</div>
#parse("image_grid_lazy.vm")
</body>
</html>
