<div class="grid">
#if (!$opt.ncol)
  #set ($opt.ncol = 2 )
#end
#set ($nitem = $imlist.size())
#set ($nrow = $nitem / $opt.ncol)
#if (($nitem % $opt.ncol) > 0)
  #set ($nrow = $nrow + 1)
#end
#set ($rctr=1)
#set ($cctr=1)
#if (!$caption)
  #set ($caption = $imlist)
#end
#set ($last = $nitem - 1)
#foreach ($imctr in [0..$last])
 #if ($cctr == 1)
<div class="row">   <!-- begin row $rctr -->
  #end  
<div class="cell"> <!-- begin cell ($rctr, $cctr) -->
  <a rel="gallery" href="$opt.relpath/$imlist[$imctr]" title="$caption[$imctr]">
#if (!$opt.thumbdir)
  <img class="lazy" 
  src="https://analysis.clue.io/assets/js/lazyload/1.8.4/img/grey.gif" 
  data-original="$opt.relpath/$imlist[$imctr]" />
  <noscript>
  <img src="$opt.relpath/$imlist[$imctr]" />
  </noscript>
#else
  <img class="lazy"
  src="https://analysis.clue.io/assets/js/lazyload/1.8.4/img/grey.gif"
  data-original="$opt.thumbdir/th_$imlist[$imctr]" />
  <noscript>
  <img src="$opt.thumbdir/th_$imlist[$imctr]" />
  </noscript>
#end
  </a>
  <div class="desc">$caption[$imctr]</div>
</div> <!-- end cell ($rctr, $cctr) -->
  #if ($cctr % $opt.ncol == 0 || $imctr == $nitem - 1)
  ## Close current row and start a new one
  </div> <!-- end row $rctr -->
  #set($cctr = 0)
  #set($rctr = $rctr + 1)
  #end
 #set($cctr = $cctr + 1)
#end
</div>
