#** Create preview page
 Inputs:
 source_file: string text file to display 
 opt : Java hashmap of optional settings:
    .title: string, page title
    .head: string, page header
    .subhead: string, page sub header
    .sort_field : string, field to sort on
    .sort_order : string, sort order {'asc'| 'desc'}
*#
<!DOCTYPE HTML >
<html>
<head>
  <meta charset="utf-8">
    <title>$!opt.title</title>
    <link rel='shortcut icon' type='image/x-icon' href='http://lincscloud.org/favicon.ico' />
    <style type="text/css">
      @import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
      @import "http://cmap.github.io/barista/barista.main.min.css";
      @import "http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css";
      @import "http://cdn.datatables.net/scroller/1.2.1/css/dataTables.scroller.css";
      @import "http://cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css";
      @import "https://analysis.clue.io/assets/js/mortar/dist/all.css";
    </style>
    <script type="text/javascript" src="http://cmap.github.io/barista/barista.main.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/scroller/1.2.1/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/colreorder/1.1.1/js/dataTables.colReorder.min.js"></script>
    <script  type="text/javascript" language="javascript" src="https://analysis.clue.io/assets/js/mortar/dist/all.min.js"></script>
</head>
<body>
  <!-- header -->
  <div class="cmap-shadow">
    <div id="header_target" data-barista-view="CMapHeaderView"></div>
  </div>

  <!-- loading group -->
  <div id="loading_group" class="row">
    <div class="cmap-spacer-large"></div>
    <div class="col-xs-offset-1 col-xs-10">
      <div class="col-xs-offset-5 col-xs-2 cmap-loading"></div>
    </div>
  </div>

  <!-- main content -->
  <div id="main_content" class="row">
    <div class="container">
	<div id="grid">
	  <table id="query_preview" class="display" cellspacing="0" width="100%"></table>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="row">
    <div id="footer_target" data-barista-view="CMapFooterView"></div>
  </div>

    <script type="text/javascript">
    $(document).ready(function() {
	new Barista.Views.CMapHeaderView({el : "#header_target", 
					  title : "$!opt.head",
					  subtitle : "$!opt.sub_head"});
	new Barista.Views.CMapFooterView({el : "#footer_target"});
	Mortar.hide("#main_content");
	var getData = $.ajax({
	    url:"$!source_file",
	    dataType: "text",
	   success: function(raw){
	       Mortar.dtQueryPreview({
		   target: '#query_preview',
		   raw_data: raw,
		   sort_field: "$opt.sort_field",
		   sort_order: "$opt.sort_order"
	       });
	   },
	    error: function(xhr, status, error) {
		console.log(xhr);
		alert(status +':' + error.message);
	    }
	});
	Mortar.minimize(".cmap-loading");
	Mortar.unhide("#main_content");
    });
</script>
</body>
</html>

