<p>
  <br>
   The input query was matched against 476,251 signatures derived from
   1,328,098 experiments (Database version A2, release May 04 2014).
</p>
<p> The results are shown in two formats:
  <ol> 
    <li>A summary report listing perturbagens ranked by the strength
    and consistency of their connectivity to the input query,
    aggregated across cell types and experimental conditions.</li>
    <li>A detailed view comprising the full list of connectivity scores between the input query and 476,251 signatures.</li>
  </ol>
</p>
<p>
  Help on interpreting these results is available in the lincscloud <a class="help_url-quest_results" href="http://support.lincscloud.org/hc/en-us/articles/202231633-Query-App-Results">knowledge base</a>.
</p>
<script>
    /* Update the URL from Mortar if it changes */
    $(document).ready(function() {
         Mortar.updateHelpURL();
    });
</script>
