## Create snapshot page for roast
## Inputs:
## plate_id: String
## imlist : cell array of image file names
## caption : cell array of captions
## opt : Java hashmap of optional settings:
##     .ncol : integer, number of columns per row
##     .width : width of image, default is 230
##     .height : height of image, default is 225
##     .title : String, page title, default is None
##     .thumbdir : String, location of thumbnails. Default is None
## Update info to include expected inputs
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

#if (!$opt.width)
  #set ($opt.width = 230 )
#end
#if (!$opt.height)
  #set ($opt.height = 225 )
#end

<title>$plate_id</title>
<style>
table  {
    width:65%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#DactyloscopyTable tr:nth-child(even) {
    background-color: #eee;
}
table#DactyloscopyTable tr:nth-child(odd) {
   background-color:#fff;
}
table#DactyloscopyTable th {
    background-color: black;
    color: white;
}
{
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

body,

html {
margin:0;
padding:0;
}

#wrap {
width:800px;
margin: 0 20;
}
#header {
width: 800px;
text-align: left;
}

#main {
float:left;
width:800px;
}
#sidebar {
float:right;
width:170px;
}
ol { font-size: 85%;}
ul { font-size: 85%;}

h1 { color: #1f77b4; }
h3 { color: #2ca02c; }
table.stats {
border: 1px solid black;
border-collapse: collapse;
}

table.stats td {
padding: 5px;
border: 1px solid #808080;
font-size: 85%;
}

table.dataset td {
padding: 1px;
#border: 1px solid #808080;
font-size: 75%;
}
<!-- for image grid -->
.grid { display: table; border-spacing: 4px; }
.row { display: table-row; }
img { width: ${opt.width}px; height: ${opt.height}px;}
.cell { display: table-cell; background-color: white; border: 1px solid #d4dded; vertical-align: top; text-align: center;}
.desc { color: #c92d0a; font-size: 85%; font-weight: bold; text-align:
center;  padding-top: 8px;}

table, th, td {
    border: 1px solid black;
}

</style>
</head>

<body>
<div id="wrap">
<div id="header">
<h1>$plate_id</h1>
</div>  <!-- #header -->

<div id="main">
#parse('image_grid.vm')


#set ($ncells = $no_cells - 1)

#set ($length = $dac_vars.size())
#set ($num_headers = $length - 1)

<!-- Seperate out dactyloscopy code into a new vm -->


<table id="DactyloscopyTable">
<tr><th>Dactyloscopy Results</th>
#foreach($cell in [0..$ncells])
 <th></th>
#end
</tr>
#foreach( $row in [0..$num_headers])
    <tr>
    <td>$dac_vars[$row]</td>
    #foreach($cell in [0..$ncells])
    	<td>$dac_data[$row][$cell]</td>
    #end
    </tr>
#end

</table>

</div>  <!-- #main -->


</div> <!-- #wrap -->
</body>
</html>
