#** Create main index page for summly
 Inputs:
 tableList: hashmap of index table
 fieldList: list of table fieldnames
 opt : Java hashmap of optional settings:
     .sort_column : integer, column to sort on
     .sort_order : string, sort order
*#
<!DOCTYPE HTML >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" title="currentStyle">
      @import "https://analysis.clue.io/assets/css/summly_page.css";
      @import "https://analysis.clue.io/assets/css/summly_table.css";
    </style>
    <script type="text/javascript" language="javascript" src="https://analysis.clue.io/assets/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://analysis.clue.io/assets/js/datatables/1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://analysis.clue.io/assets/js/datatables/1.9.4/extras/Scroller/media/js/dataTables.scroller.min.js"></script>
  </head>
  <body>
    <table id="main_table" cellpadding="0" cellspacing="0"  border="0" width="80%" class="display"> </table>
    <script>
    $(document).ready(function() {
	var aoColumns = [
            #foreach ($row in $fieldList)
	      {"sTitle": "$row"},
            #end
	];
	var aaData = [
            #foreach ($row in $tableList)
            [ 
              #foreach ($cell in $row)
		"$!cell", 
              #end
            ],
            #end
	];

	$('#main_table').dataTable({ 
	    "aaData": aaData,
	    "aoColumns": aoColumns,
#* Use a vertical scroll bar *#
	    "sScrollY": "510px",
		"bSortClasses":false, // 
		"sDom": "frtiS", // turn on scroller
		"bDeferRender":true, // speed up
		"bStateSave": true, // use local storage to save state
		"fnStateSave": function (oSettings, oData) {
		    localStorage.setItem( 'DataTables_'+window.location.pathname, JSON.stringify(oData) );
		},
		"fnStateLoad": function (oSettings) {
		    return JSON.parse( localStorage.getItem('DataTables_'+window.location.pathname) );
		},
		"bJQueryUI": false,
	} );
    });
    </script>
  </body>
</html>
