## Create an image gallery
## Inputs:
## dataMap : Linked hashmap with each key containing two fields: url, name
## opt : Java hashmap of optional settings:
##     .title : String, page title, default is None
##     .head : String, Main header, default is None
##    .sub_head: String, Subheader, default is None
##    .timestamp: String, timestamp, default is None
##
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    #if ($opt.title)
    <title>$opt.title</title>
    #end
    <link rel='shortcut icon' type='image/x-icon' href='http://lincscloud.org/favicon.ico' />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="http://cmap.github.io/barista/barista.main.min.css">
  </head>
  <body>
    <div class="cmap-shadow">
      <div id="header" data-barista-view="CMapHeaderView" data-title="$!opt.head" data-subtitle="$!opt.sub_head"></div>
      <div class="text-center">$!opt.timestamp</div>
    </div>
    <div class="cmap-spacer-small"></div>
    #if ($opt.synopsis)
    <div class="container col-xs-6">
    $!opt.synopsis
    </div>
    <div class="container col-xs-6">
    #else
    <div class="container col-xs-offset-5 col-xs-6">
    #end
	#if ($opt.list_type == "two_level")
	#foreach ($group in $dataMap.entrySet())
	<h4>$group.key</h4>
	<ul>
	  #set ($nrow = $group.value.url.size() - 1 )
	  #foreach ($irow in [0..$nrow])
  	     #if ($group.value.action[$irow]=="download")
	  <li>$group.value.name[$irow] <a download class="cmap-link" href="$group.value.url[$irow]"><i class="fa fa-download"></i></a></li>
	     #else
	  <li><a class="cmap-link" href="$group.value.url[$irow]">$group.value.name[$irow]</a></li>
	     #end
	  #end
	</ul>
	#end
	#elseif ($opt.list_type == "one_level")
	#foreach ($group in $dataMap.entrySet())
  	     #if ($group.value.action[0]=="download")
	<h4 class="text-center">$group.key <a download class="cmap-link" href="$group.value.url[0]"><i class="fa fa-download"></i></a></h4>
	     #else
	<h4 class="text-center"><a class="cmap-link" href="$group.value.url[0]">$group.key</a></h4>
	     #end
	#end
	#end
    </div>
    <div class="row">
      <div id="footer" data-barista-view="CMapFooterView"></div>
    </div>
    <script src="http://cmap.github.io/barista/barista.main.min.js"></script>
    <script src="https://analysis.clue.io/assets/js/mortar/dist/all.min.js"></script>
  </body>
</html>
